body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #1a1a1a; */
    background-image: url(background.jpg);

    color: #fff;
}

/* @font-face {
    font-family: 'jjk';  
    src: url('D:\Shiva\JujutsuKaisen.ttf');  
  } */

@font-face {
    font-family: jjk;
    src: url('D:/Shiva/JujutsuKaisen.ttf') format('truetype');  /* Or yaha se ye @font-face wala pura scope jjk remove krne k liye */
  }

  

.floating-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.team-members {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 100px;
}

.member a {
    display: block;
    text-decoration: none; /* Remove underline from hyperlinks */
    color: inherit;
}



.member {
    flex: 1;
    max-width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.member:hover {
    box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.7); /* Red Glow on Hover */
    cursor: pointer;
}

.member:nth-child(2):hover {
    box-shadow: 0px 0px 20px 5px rgba(238, 130, 238, 0.7); /* Violet Glow on Hover for 2nd member */
}

.member:nth-child(3):hover {
    box-shadow: 0px 0px 20px 5px rgba(255, 165, 0, 0.7); /* Orange Glow on Hover for 3rd member */
}

.member:nth-child(4):hover {
    box-shadow: 0px 0px 20px 5px rgba(255, 192, 203, 0.7); /* Pink Glow on Hover for 4th member */
}

.member:nth-child(5):hover {
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.7); /* White Glow on Hover for 5th member */
}



.member-info {
    text-align: center;
}

.member-info h2 {
    font-size: 20px;
    margin: 10px ;
}

.member-info-1::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
    background-image: url(Images/yuji.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.member-info-2::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
    background-image: url(Images/megumi.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}
.member-info-3::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
    background-image: url(Images/nanmi.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.member-info-4::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
    background-image: url(Images/nobara.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.member-info-5::before{
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
    background-image: url(Images/voice.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

.footer .left {
    margin-left: 10px;
}

.footer .right {
    margin-right: 30px;
    
}
